/* base css */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, 宋体;
    background: #fff;
    font-size: 12px;
    color: #666;
}

ul, li {
    list-style: none;
}

a, u {
    text-decoration: none;
}

a {
    color: #666;
}

a:hover {
    color: #C81623;
}

img {
    display: block;
}

.w {
    width: 1210px;
    margin: 0 auto;
}

/* header css */
.header {
    width: 100%;
    background: #4d4e62;
    display: none;
}

.header .w {
    width: 990px;
}

.header img {
    margin: 0 auto;
}

/* shortcut begin */
.shortcut {
    width: 100%;
    background: #F1F1F1;
    height: 30px;
    line-height: 30px;
}

.shortcut .fore {
    padding: 0 10px;
    margin: 0 2px;
}

.area {
    float: left;
    overflow: hidden;
}

.drop-layer {
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px 0 10px 10px;
    background: #fff;
    margin-left: -11px;
    display: none;
    z-index: 1;
}

.current {
    display: block;
}

.border-hide {
    width: 83px;
    height: 10px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -1px;
}

.area-wrap {
    margin-left: -11px;
}

.area-wrap .border-hide {
    width: 98px;
}

.area-list ul {
    overflow: hidden;
    width: 300px;
}

.area-list ul li {
    width: 58px;
    float: left;
    line-height: 24px;
}

.entrance {
    float: right;
}

.entrance li {
    float: left;
}

.spacer {
    width: 1px;
    height: 12px;
    color: #ddd;
}

.link-regist {
    color: #C81623;
}

.dropdown {
    cursor: default;
    border: 1px solid #f1f1f1;
    border-top: none;
    border-bottom: none;
}

.head-img {
    float: left;
}

.head-img img {
    border-radius: 50%;
}

.hello-login {
    float: left;
    margin-left: 20px;
}

.viewlist {
    width: 250px;
    padding: 10px 15px;
    clear: both;
}

.viewlist li {
    width: 105px;
    line-height: 30px;
}

.shortcut .jd {
    position: relative;
    padding-left: 18px;
}

.jd .drop-layer {
    margin-left: -18px;
}

.phone {
    display: inline-block;
    background: url(../images/jd2015img.png) 0 0 no-repeat;
    width: 15px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 0;
    overflow: hidden;
}

.app-jd {
    width: 250px;
    height: 195px;
    background-image: url(../images/appjd.png);
    overflow: hidden;
}

.ijd {
    width: 90px;
}

.app-jd a {
    text-indent: -500px;
    display: block;
}

a.link1 {
    display: block;
    position: relative;
    left: 99px;
    top: 20px;
    text-indent: 0;
    color: #c21a21;
}

a.link2 {
    top: 87px;
}

.concern {
    padding: 10px 0 10px 1px;
}

.concern2 {
    width: 83px;
}

.client {
    width: 170px;
    padding-left: 0;
}

.client ul {
    overflow: hidden;
}

.client li {
    float: left;
    width: 80px;
    margin: 0;
    line-height: 24px;
}

.client2, .business {
    padding-left: 10px;
}

.business {
    border-top: 1px dotted #ccc;
    margin-top: 5px;
}

.website {
    margin: 0;
    width: 1210px;
    right: 71px;
}

.website-nav dl {
    border-left: 1px solid #ddd;
    overflow: hidden;
    padding-left: 15px;
    float: left;
    width: 259px;
    margin: 6px 0;
}

.website-nav .first {
    border-left: 0;
    width: 347px;
}

.website-nav dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.website-nav dd {
    float: left;
    width: 86px;
    line-height: 24px;
}

.right-hide {
    left: 1137px;
}

/* top-banner begin */
.top-banner {
    width: 100%;
    background: #751ee6;
}

/* search-wrap begin */
.ser {
    overflow: hidden;
}

.logo, .search-wrap {
    float: left;
}

.shopping-car {
    float: right;
}

.logo {
    padding: 20px 0;
    width: 362px;
}

.search-wrap {
    margin-top: 25px;
}

.search input {
    border: 2px solid #B61D1D;
    border-right: 0;
    width: 446px;
    height: 24px;
    padding: 4px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    font-family: "微软雅黑";
    float: left;
    outline: 0;
}

.search button {
    width: 82px;
    height: 36px;
    background: #B61D1D;
    border: 0;
    float: left;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
    cursor: pointer;
    line-height: 36px;
}

.search {
    margin-bottom: 43px;
}

.hotwords a {
    margin-right: 10px;
}

.shopping-car {
    margin: 25px 65px 0 0;
    height: 36px;
}

.car {
    width: 75px;
    background: #F9F9F9;
    border: 1px solid #ccc;
    padding: 0 28px 0 36px;
    position: relative;
    height: 34px;
    text-align: center;
    line-height: 34px;
}

.car .l, .car .c, .car .r {
    position: absolute;
}

.car .l {
    width: 18px;
    height: 20px;
    display: inline-block;
    background: url(../images/jd2015img.png) 0 -52px no-repeat;
    left: 18px;
    top: 3px;
}

.car .c {
    width: 16px;
    height: 14px;
    display: inline-block;
    background: #c81623;
    right: 20px;
    top: -3px;
    border-radius: 7px 7px 7px 0;
    line-height: 15px;
    text-align: center;
    color: #fff;
}

.car .r {
    top: 1px;
    right: 10px;
}

.goods {
    margin-left: -158px;
    color: #999;
}

.goods .border-hide {
    width: 139px;
    left: 158px;
}

.nogoods {
    line-height: 49px;
    padding: 0 10px 0 30px;
    overflow: hidden;
}

.nogoods b {
    width: 56px;
    height: 49px;
    display: inline-block;
    background: url(../images/nogoods.png);
    float: left;
}

/* nav-wrap begin */
.nav-wrap {
    border-bottom: 2px solid #B1191A;
    width: 100%;
    height: 44px;
    position: relative;
}

.nav-wrap .w {
    overflow: hidden;
}

.all-sorts, .nav {
    float: left;
}

.treasure {
    float: right;
}

.all-sorts {
    width: 190px;
    height: 44px;
    background: #B1191A;
    line-height: 44px;
    padding: 0 10px;
}

.all-sorts a {
    color: #fff;
    font-family: "Microsoft yahei";
    font-size: 15px;
}

.nav li {
    float: left;
    line-height: 44px;
    padding: 0 20px;
    font-size: 16px;
    font-family: "Microsoft yahei";
}

.nav li a {
    color: #333;
}

.nav li a:hover {
    color: #C81623;
}

.treasure {
    width: 200px;
    height: 54px;
    position: absolute;
    right: 100px;
    top: -10px;
}

.treasure a {
    display: block;
    width: 200px;
    height: 54px;
    background: url(../images/nav-img.jpg);
}

/* banner-wrap begin */
.banner-wrap {
    width: 100%;
    height: 644px;
    background: url(../images/banner-bg.jpg) no-repeat top center;
}

.top {
    height: 466px;
    margin-bottom: 10px;
}

.sorts-list {
    font-family: "Microsoft yahei";
    float: left;
}

.lists {
    padding: 0 10px;
    width: 190px;
    background: #c81623;
    color: #fff;
    font-size: 14px;
}

.lists .list {
    height: 31px;
    line-height: 31px;
    overflow: hidden;
}

.lists .list p {
    float: left;
}

.lists .list span {
    float: right;

}

.lists a {
    color: #fff;
}

.sorts-list {
    position: relative;
}

.sorts-list .drop-layer {
    position: absolute;
    left: 220px;
    top: 0;
    border: 1px solid #b61d1d;
    border-top: 0;
    background: #f7f7f7;
    width: 999px;
    padding: 0;
    z-index: 2;
}

.item {
    overflow: hidden;
    padding: 20px 20px 10px 20px;
}

.left {
    float: left;
    width: 711px;
    margin-right: 80px;
}

.left .tit {
    margin-bottom: 15px;
    overflow: hidden;
}

.left .tit a {
    display: inline-block;
    background: #7C7171;
    color: #fff;
    line-height: 24px;
    padding-left: 8px;
    margin-right: 10px;
    float: left;
}

.left .tit a:hover {
    background: #c81623;
}

.left .tit a:hover span {
    background: #b61d1d;
}

.left .tit span {
    background: #5c5251;
    width: 23px;
    height: 24px;
    display: inline-block;
    text-align: center;
    margin-left: 8px;
    line-height: 24px;
}

.left dl {
    overflow: hidden;
    line-height: 2em;
    margin-bottom: 3px;
}

.left dl dt, .left dl dd {
    float: left;
}

.left dl dt {
    text-align: right;
    width: 64px;
    padding: 8px 20px 0 0;
    height: 29px;
}

.left dl dd {
    line-height: 37px;
    border-bottom: 1px solid #ddd;
    width: 601px;
}

.left dl dd span {
    padding: 0 3px;
    color: #ddd;
}

.hot {
    border: 1px dotted #db7078;
    color: #c81623;
    height: 12px;
    padding: 1px;
}

.left .last dd {
    border-bottom: 0;
}

.right {
    float: right;
    width: 168px;
}

.right .brands {
    width: 168px;
    height: 144px;
}

.right a {
    float: left;
    margin: 0 1px 1px 0;
}

.brands {
    margin-bottom: 10px;
}

.banner {
    float: left;
    position: relative;
    width: 730px;
    height: 454px;
    margin: 10px 10px 0 10px;
}

.prev, .next {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    width: 28px;
    height: 62px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    font-size: 22px;
    line-height: 62px;
    text-align: center;
    margin-top: -32px;
}

.prev a, .next a {
    color: #fff;
}

.next {
    left: 702px;
}

.banner-imgs img {
    position: absolute;
    left: 0;
    top: 0;
}

.pages {
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -66px;
}

.pages li {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #3e3e3e;
    margin: 0 2px;
    text-align: center;
    line-height: 18px;
}

.pages .sel {
    background: #b61b1f;
}

.pages li a {
    color: #fff;
}