<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <style>
        body {
            margin: 5px;
            pading: 5px;
        }
    </style>
    <title>微信公众平台测试</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">欢迎您,{{ userinfo.nickname }}!</h3>
    </div>
    <div class="panel-body">
        <img src="{{ userinfo.headimgurl }}" class="img-responsive" alt="Image">
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <td>昵称</td>
                <td>{{ userinfo.nickname }}</td>
            </tr>
            <tr>
                <td>微信ID</td>
                <td>{{ userinfo.openid }}</td>
            </tr>
            <tr>
                <td>性别</td>
                <td>{{ userinfo.sex }}</td>
            </tr>
            <tr>
                <td>省份</td>
                <td>{{ userinfo.province }}</td>
            </tr>
            <tr>
                <td>城市</td>
                <td>{{ userinfo.city }}</td>
            </tr>
            <tr>
                <td>国家</td>
                <td>{{ userinfo.country }}</td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">

        <button type="button" id="refresh" class="btn btn-default btn-block" onclick="window.location='{{ oauthurl }}'">刷新信息
        </button>

    </div>
</div>
</body>
</html>