{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
    <title>京东(JD.COM)-综合网购首选-正品低价、品质保障、配送及时、轻松购物！</title>
    <script src="{% static 'js/jquery-1.7.2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index-jq.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/index-js.js' %}" type="text/javascript"></script>
</head>
<body>
<!-- header begin -->
<div class="header">
    <a href="http://www.joybuy.com/">
        <div class="w">
            <img src="{% static 'images/oversea.jpg' %}" height="49" width="792" alt=""/>
        </div>
    </a>
</div>
<!-- shortcut begin -->
<div class="shortcut">
    <div class="w">
        <ul class="area">
            <li class="dropdown fore">送至：
                <span>北京 </span>
                <u> ∨</u>
                <div class="drop-layer area-wrap">
                    <div class="border-hide"></div>
                    <div class="area-list">
                        <ul>
                            <li><a href="javascript:void(0);">北京</a></li>
                            <li><a href="javascript:void(0);">上海</a></li>
                            <li><a href="javascript:void(0);">天津</a></li>
                            <li><a href="javascript:void(0);">重庆</a></li>
                            <li><a href="javascript:void(0);">河北</a></li>
                            <li><a href="javascript:void(0);">山西</a></li>
                            <li><a href="javascript:void(0);">河南</a></li>
                            <li><a href="javascript:void(0);">辽宁</a></li>
                            <li><a href="javascript:void(0);">吉林</a></li>
                            <li><a href="javascript:void(0);">黑龙江</a></li>
                            <li><a href="javascript:void(0);">内蒙古</a></li>
                            <li><a href="javascript:void(0);">江苏</a></li>
                            <li><a href="javascript:void(0);">山东</a></li>
                            <li><a href="javascript:void(0);">安徽</a></li>
                            <li><a href="javascript:void(0);">浙江</a></li>
                            <li><a href="javascript:void(0);">福建</a></li>
                            <li><a href="javascript:void(0);">湖南</a></li>
                            <li><a href="javascript:void(0);">湖北</a></li>
                            <li><a href="javascript:void(0);">广东</a></li>
                            <li><a href="javascript:void(0);">广西</a></li>
                            <li><a href="javascript:void(0);">江西</a></li>
                            <li><a href="javascript:void(0);">四川</a></li>
                            <li><a href="javascript:void(0);">海南</a></li>
                            <li><a href="javascript:void(0);">贵州</a></li>
                            <li><a href="javascript:void(0);">云南</a></li>
                            <li><a href="javascript:void(0);">西藏</a></li>
                            <li><a href="javascript:void(0);">陕西</a></li>
                            <li><a href="javascript:void(0);">甘肃</a></li>
                            <li><a href="javascript:void(0);">青海</a></li>
                            <li><a href="javascript:void(0);">宁夏</a></li>
                            <li><a href="javascript:void(0);">新疆</a></li>
                            <li><a href="javascript:void(0);">台湾</a></li>
                            <li><a href="javascript:void(0);">香港</a></li>
                            <li><a href="javascript:void(0);">澳门</a></li>
                            <li><a href="javascript:void(0);">钓鱼岛</a></li>
                            <li><a href="javascript:void(0);">海外</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="entrance">
            <li class="fore">
                <a href="" class="link-login">你好，请登录</a>&nbsp;
                <a href="" class="link-regist">免费注册</a>
            </li>
            <li class="spacer"> |</li>
            <li class="fore">
                <a href="">我的订单</a>
            </li>
            <li class="spacer"> |</li>
            <li class="dropdown fore">
                <a href="">我的京东 <u> ∨</u></a>
                <div class="drop-layer">
                    <div class="border-hide"></div>
                    <div class="head-img">
                        <a href=""><img src="{% static 'images/headimg.jpg' %}" height="60" width="60" alt=""/></a>
                    </div>
                    <div class="hello-login">
                        <a href=""><b>你好，请登录！</b></a>
                        <div>
                            <a href="">优惠券&nbsp;</a> |
                            <a href="">&nbsp;消息</a>
                        </div>
                    </div>
                    <div class="viewlist">
                        <ul>
                            <li><a href="">待处理订单</a></li>
                            <li><a href="">我的关注</a></li>
                            <li><a href="">咨询回复</a></li>
                            <li><a href="">我的京豆</a></li>
                            <li><a href="">降价商品</a></li>
                            <li><a href="">我的理财</a></li>
                            <li><a href="">返修退换货</a></li>
                            <li><a href="">京东白条</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="spacer"> |</li>
            <li class="fore">
                <a href="">京东会员</a>
            </li>
            <li class="spacer"> |</li>
            <li class="fore">
                <a href="">企业采购</a>
            </li>
            <li class="spacer"> |</li>
            <li class="dropdown fore jd">
                <a href="">
                    <i class="phone"></i>
                    手机京东
                    <u> ∨</u>
                </a>
                <div class="drop-layer">
                    <div class="border-hide ijd"></div>
                    <div class="app-jd">
                        <a class="link1" href="">新人专享188元大礼包</a>
                        <a class="link2 link1" href="">扫一扫封顶立减999元</a>
                    </div>
                </div>
            </li>
            <li class="spacer"> |</li>
            <li class="dropdown fore">关注京东 <u> ∨</u>
                <div class="drop-layer concern">
                    <div class="border-hide concern2"></div>
                    <div class="ercode">
                        <img src="{% static 'images/ercode.jpg' %}" alt=""/>
                    </div>
                </div>
            </li>
            <li class="spacer"> |</li>
            <li class="dropdown fore">客户服务 <u> ∨</u>
                <div class="drop-layer client">
                    <div class="border-hide"></div>
                    <div class="client2">
                        <p><b>客户</b></p>
                        <ul>
                            <li><a href="">帮助中心</a></li>
                            <li><a href="">售后服务</a></li>
                            <li><a class="link-regist" href="">在线客服</a></li>
                            <li><a href="">意见建议</a></li>
                            <li><a href="">电话客服</a></li>
                            <li><a href="">客服邮箱</a></li>
                        </ul>
                    </div>
                    <div class="business">
                        <p><b>商户</b></p>
                        <ul>
                            <li><a href="">京东商学院</a></li>
                            <li><a href="">商家入驻</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="spacer"> |</li>
            <li class="dropdown fore">网站导航 <u> ∨</u>
                <div class="drop-layer website">
                    <div class="border-hide right-hide"></div>
                    <div class="website-nav">
                        <dl class="first">
                            <dt>特色主题</dt>
                            <dd><a href="">品牌街</a></dd>
                            <dd><a href="">好物100</a></dd>
                            <dd><a href="">京东预售</a></dd>
                            <dd><a href="">尖er货</a></dd>
                            <dd><a href="">京东首发</a></dd>
                            <dd><a href="">今日团购</a></dd>
                            <dd><a href="">优惠券</a></dd>
                            <dd><a href="">闪购</a></dd>
                            <dd><a href="">京东会员</a></dd>
                            <dd><a href="">秒杀</a></dd>
                            <dd><a href="">定期送</a></dd>
                            <dd><a href="">装机大师</a></dd>
                            <dd><a href="">新奇特</a></dd>
                            <dd><a href="">京东试用</a></dd>
                            <dd><a href="">礼品购</a></dd>
                            <dd><a href="">智能馆</a></dd>
                            <dd><a href="">玩bigger</a></dd>
                            <dd><a href="">大牌免息</a></dd>
                            <dd><a href="">北京老字号</a></dd>
                            <dd><a href="">买什么</a></dd>
                        </dl>
                        <dl class="sort">
                            <dt><a href="">行业频道</a></dt>
                            <dd><a href="">服装城</a></dd>
                            <dd><a href="">家用电器</a></dd>
                            <dd><a href="">电脑办公</a></dd>
                            <dd><a href="">手机</a></dd>
                            <dd><a href="">美妆馆</a></dd>
                            <dd><a href="">食品</a></dd>
                            <dd><a href="">数码</a></dd>
                            <dd><a href="">母婴</a></dd>
                            <dd><a href="">家装城</a></dd>
                            <dd><a href="">运动户外</a></dd>
                            <dd><a href="">整车</a></dd>
                            <dd><a href="">图书</a></dd>
                            <dd><a href="">农资频道</a></dd>
                            <dd><a href="">京东智能</a></dd>
                        </dl>
                        <dl class="sort">
                            <dt><a href="">生活服务</a></dt>
                            <dd><a href="">京东众筹</a></dd>
                            <dd><a href="">白条</a></dd>
                            <dd><a href="">京东钱包</a></dd>
                            <dd><a href="">京东小金库</a></dd>
                            <dd><a href="">理财</a></dd>
                            <dd><a href="">话费</a></dd>
                            <dd><a href="">旅行</a></dd>
                            <dd><a href="">彩票</a></dd>
                            <dd><a href="">游戏</a></dd>
                            <dd><a href="">机票酒店</a></dd>
                            <dd><a href="">电影票</a></dd>
                            <dd><a href="">水电煤</a></dd>
                            <dd><a href="">京东到家</a></dd>
                            <dd><a href="">京东微联</a></dd>
                            <dd><a href="">京东众测</a></dd>
                        </dl>
                        <dl class="sort">
                            <dt><a href="">更多精选</a></dt>
                            <dd><a href="">京东社区</a></dd>
                            <dd><a href="">京东通信</a></dd>
                            <dd><a href="">在线读书</a></dd>
                            <dd><a href="">京东E卡</a></dd>
                            <dd><a href="">智能社区</a></dd>
                            <dd><a href="">游戏社区</a></dd>
                            <dd><a href="">京友邦</a></dd>
                            <dd><a href="">卖家入驻</a></dd>
                            <dd><a href="">企业采购</a></dd>
                            <dd><a href="">服务市场</a></dd>
                            <dd><a href="">乡村招募</a></dd>
                            <dd><a href="">校园加盟</a></dd>
                            <dd><a href="">办公生活馆</a></dd>
                            <dd><a href="">知识产权维权</a></dd>
                            <dd><a href="">English Site</a></dd>
                        </dl>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- top-banner begin -->
<div class="top-banner">
    <a href="">
        <div class="w">
            <img src="{% static 'images/top-banner.jpg' %}" height="80" width="1210" alt=""/>
        </div>
    </a>
</div>
<!-- search-wrap begin -->
<div class="w ser">
    <div class="logo">
        <a href="">
            <img src="{% static 'images/logo.png' %}" height="60" width="270" alt=""/>
        </a>
    </div>
    <div class="search-wrap">
        <div class="search">
            <input type="text" value="卡通手机壳"/>
            <button>搜索</button>
        </div>
        <div class="hotwords">
            <a class="link-regist" href="">家居9.9</a>
            <a href="">立减2000</a>
            <a href="">月饼9.9</a>
            <a href="">300减150</a>
            <a href="">折上7折</a>
            <a href="">吸顶灯</a>
            <a href="">蓝牙</a>
            <a href="">0元华为</a>
            <a href="">书桌</a>
        </div>
    </div>
    <div class="shopping-car dropdown">
        <div class="car">
            <i class="l"></i>
            <a href="">我的购物车</a>
            <span class="c">0</span>
            <span class="r">></span>
        </div>
        <div class="drop-layer goods">
            <div class="border-hide"></div>
            <div class="nogoods">
                <b></b>
                购物车中还没有商品，赶紧选购吧！
            </div>
        </div>
    </div>
</div>
<!-- nav-wrap begin -->
<div class="nav-wrap">
    <div class="w">
        <div class="all-sorts">
            <a href="">全部商品分类</a>
        </div>
        <ul class="nav">
            <li><a href="">服装城</a></li>
            <li><a href="">美妆馆</a></li>
            <li><a href="">京东超市</a></li>
            <li><a href="">生鲜</a></li>
            <li><a href="">全球购</a></li>
            <li><a href="">闪购</a></li>
            <li><a href="">团购</a></li>
            <li><a href="">拍卖</a></li>
            <li><a href="">金融</a></li>
        </ul>
        <div class="treasure">
            <a href=""></a>
        </div>
    </div>
</div>
<!-- banner-wrap begin -->
<div class="banner-wrap">
    <div class="w">
        <div class="top">
            <div class="sorts-list">
                <div class="lists">
                    <div class="list">
                        <p><a href="">家用电器</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">手机、数码、京东通信</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">电脑、办公</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">家居、家具、家装、厨具</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">男装、女装、童装、内衣</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">个护化妆、清洁用品、宠物</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">鞋靴、箱包、珠宝、奢侈品</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">运动户外、钟表</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">汽车、汽车用品</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">母婴、玩具乐器</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">食品、酒类、生鲜、特产</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">医药保健</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">图书、音像、电子书</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">彩票、旅行、充值、票务</a></p>
                        <span>></span>
                    </div>
                    <div class="list">
                        <p><a href="">理财、众筹、白条、保险</a></p>
                        <span>></span>
                    </div>
                </div>
                <div class="drop-layer">
                    <div class="item">
                        <div class="left">
                            <div class="tit">
                                <a href="">8周年庆<span>></span></a>
                                <a href="">家电城<span>></span></a>
                                <a href="">品牌日<span>></span></a>
                                <a href="">智能生活馆<span>></span></a>
                                <a href="">京东净化馆<span>></span></a>
                                <a href="">京东帮服务店<span>></span></a>
                                <a href="">家电众筹馆<span>></span></a>
                            </div>
                            <dl>
                                <dt><a href=""><b>电视</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">合资电视</a>
                                    <span>|</span><a href="">国产电视</a>
                                    <span>|</span><a href="">互联网电视</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>空调</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">壁挂式空调</a>
                                    <span>|</span><a href="">柜式空调</a>
                                    <span>|</span><a href="">空调配件</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>洗衣机</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">滚筒洗衣机</a>
                                    <span>|</span><a href="">洗烘一体机</a>
                                    <span>|</span><a href="">波轮洗衣机</a>
                                    <span>|</span><a href="">迷你洗衣机</a>
                                    <span>|</span><a href="">洗衣机配件</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>冰箱</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">多门</a>
                                    <span>|</span><a href="">对开门</a>
                                    <span>|</span><a href="">三门</a>
                                    <span>|</span><a href="">双门</a>
                                    <span>|</span><a href="">冷柜/冰吧</a>
                                    <span>|</span><a href="">酒柜</a>
                                    <span>|</span><a href="">冰箱配件</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>厨卫大电</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">油烟机</a>
                                    <span>|</span><a href="">燃气灶</a>
                                    <span>|</span><a href="">烟灶套装</a>
                                    <span>|</span><a href="">消毒柜</a>
                                    <span>|</span><a href="">洗碗机</a>
                                    <span>|</span><a href="">电热水器</a>
                                    <span>|</span><a href="">燃气热水器</a>
                                    <span>|</span><a href="">嵌入式厨电</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>厨房小电</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a class="hot" href="">小家电狂欢</a>
                                    <span>|</span><a href="">电饭煲</a>
                                    <span>|</span><a href="">微波炉</a>
                                    <span>|</span><a href="">电烤箱</a>
                                    <span>|</span><a href="">电磁炉</a>
                                    <span>|</span><a href="">电压力锅</a>
                                    <span>|</span><a href="">豆浆机</a>
                                    <span>|</span><a href="">咖啡机</a>
                                    <span>|</span><a href="">面包机</a>
                                    <span>|</span><a href="">榨汁机</a>
                                    <span>|</span><a href="">电饼铛</a><br/>
                                    <span>|</span><a href="">养生壶/煎药壶</a>
                                    <span>|</span><a href="">酸奶机</a>
                                    <span>|</span><a href="">煮蛋器</a>
                                    <span>|</span><a href="">电水壶/热水瓶</a>
                                    <span>|</span><a href="">电炖锅</a>
                                    <span>|</span><a href="">多用途锅</a>
                                    <span>|</span><a href="">电烧烤炉</a>
                                    <span>|</span><a href="">电热饭盒</a>
                                    <span>|</span><a href="">其他厨房电器</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>生活电器</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">电风扇</a>
                                    <span>|</span><a href="">冷风扇</a>
                                    <span>|</span><a href="">吸尘器</a>
                                    <span>|</span><a href="">净化器</a>
                                    <span>|</span><a href="">扫地机器人</a>
                                    <span>|</span><a href="">挂烫机/熨斗</a>
                                    <span>|</span><a href="">取暖电器</a>
                                    <span>|</span><a href="">插座</a>
                                    <span>|</span><a href="">电话机</a>
                                    <span>|</span><a href="">净水器</a>
                                    <span>|</span><a href="">饮水机</a><br/>
                                    <span>|</span><a href="">除湿机</a>
                                    <span>|</span><a href="">干衣机</a>
                                    <span>|</span><a href="">清洁机</a>
                                    <span>|</span><a href="">收录/音机</a>
                                    <span>|</span><a href="">其他生活电器</a>
                                    <span>|</span><a href="">生活电器配件</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>个护健康</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">剃须刀</a>
                                    <span>|</span><a href="">口腔护理</a>
                                    <span>|</span><a href="">电吹风</a>
                                    <span>|</span><a href="">美容器</a>
                                    <span>|</span><a href="">卷/直发器</a>
                                    <span>|</span><a href="">理发器</a>
                                    <span>|</span><a href="">剃/脱毛器</a>
                                    <span>|</span><a href="">足浴盆</a>
                                    <span>|</span><a href="">健康秤/厨房秤</a>
                                    <span>|</span><a href="">按摩器</a><br/>
                                    <span>|</span><a href="">按摩椅</a>
                                    <span>|</span><a href="">血压计</a>
                                    <span>|</span><a href="">血糖仪</a>
                                    <span>|</span><a href="">体温计</a>
                                    <span>|</span><a href="">计步器/脂肪检测仪</a>
                                    <span>|</span><a href="">其他健康电器</a>
                                </dd>
                            </dl>
                            <dl class="last">
                                <dt><a href=""><b>家庭影音</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">家庭影院</a>
                                    <span>|</span><a href="">迷你音响</a>
                                    <span>|</span><a href="">DVD</a>
                                    <span>|</span><a href="">电视影音配件</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="right">
                            <div class="brands">
                                <a href=""><img src="{% static 'images/midea.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/whaley.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/siemens.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/gree.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/joyoung.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/philips.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/fotile.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/aimeite.jpg' %}" alt=""/></a>
                            </div>
                            <a href=""><img src="{% static 'images/800.jpg' %}" alt=""/></a>
                            <a href=""><img src="{% static 'images/8.15.jpg' %}" alt=""/></a>
                        </div>
                    </div>
                </div>
                <div class="drop-layer">
                    <div class="item">
                        <div class="left">
                            <div class="tit">
                                <a href="">玩3C<span>></span></a>
                                <a href="">手机频道<span>></span></a>
                                <a href="">网上营业厅<span>></span></a>
                                <a href="">配件城<span>></span></a>
                                <a href="">影像Club<span>></span></a>
                                <a href="">以旧换新<span>></span></a>
                            </div>
                            <dl>
                                <dt><a href=""><b>手机通讯</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">手机</a>
                                    <span>|</span><a href="">对讲机</a>
                                    <span>|</span><a href="">以旧换新</a>
                                    <span>|</span><a href="">手机维修</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>京东通信</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">选号中心</a>
                                    <span>|</span><a href="">自助服务</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>运营商</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">合约机</a>
                                    <span>|</span><a href="">办套餐</a>
                                    <span>|</span><a href="">选号码</a>
                                    <span>|</span><a href="">装宽带</a>
                                    <span>|</span><a href="">中国移动</a>
                                    <span>|</span><a href="">中国联通</a>
                                    <span>|</span><a href="">中国电信</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>手机配件</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">手机电池</a>
                                    <span>|</span><a href="">移动电源</a>
                                    <span>|</span><a href="">蓝牙耳机</a>
                                    <span>|</span><a href="">充电器</a>
                                    <span>|</span><a href="">数据线</a>
                                    <span>|</span><a href="">手机耳机</a>
                                    <span>|</span><a href="">手机支架</a>
                                    <span>|</span><a href="">贴膜</a>
                                    <span>|</span><a href="">手机存储卡</a>
                                    <span>|</span><a href="">保护套</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>摄影摄像</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">数码相机</a>
                                    <span>|</span><a href="">单电/微单相机</a>
                                    <span>|</span><a href="">单反相机</a>
                                    <span>|</span><a href="">拍立得</a>
                                    <span>|</span><a href="">运动相机</a>
                                    <span>|</span><a href="">摄像机</a>
                                    <span>|</span><a href="">镜头</a>
                                    <span>|</span><a href="">户外器材</a>
                                    <span>|</span><a href="">影棚器材</a>
                                    <span>|</span><a href="">冲印服务</a><br/>
                                    <span>|</span><a href="">数码相框</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>数码配件</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">存储卡</a>
                                    <span>|</span><a href="">读卡器</a>
                                    <span>|</span><a href="">支架</a>
                                    <span>|</span><a href="">滤镜</a>
                                    <span>|</span><a href="">闪光灯/手柄</a>
                                    <span>|</span><a href="">相机包</a>
                                    <span>|</span><a href="">三脚架/云台</a>
                                    <span>|</span><a href="">相机清洁/贴膜</a>
                                    <span>|</span><a href="">机身附件</a>
                                    <span>|</span><a href="">镜头附件</a><br/>
                                    <span>|</span><a href="">电池/充电器</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>影音娱乐</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">耳机/耳麦</a>
                                    <span>|</span><a href="">音箱/音响</a>
                                    <span>|</span><a href="">便携/无线音箱</a>
                                    <span>|</span><a href="">收音机</a>
                                    <span>|</span><a href="">麦克风</a>
                                    <span>|</span><a href="">Mp3/MP4</a>
                                    <span>|</span><a href="">专业音频</a>
                                </dd>
                            </dl>
                            <dl>
                                <dt><a href=""><b>智能设备</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">智能手环</a>
                                    <span>|</span><a href="">智能手表</a>
                                    <span>|</span><a href="">智能眼镜</a>
                                    <span>|</span><a href="">智能机器人</a>
                                    <span>|</span><a href="">运动跟踪器</a>
                                    <span>|</span><a href="">健康监测</a>
                                    <span>|</span><a href="">智能配饰</a>
                                    <span>|</span><a href="">智能家居</a>
                                    <span>|</span><a href="">体感车</a><br/>
                                    <span>|</span><a href="">无人机</a>
                                    <span>|</span><a href="">其他配件</a>
                                </dd>
                            </dl>
                            <dl class="last">
                                <dt><a href=""><b>电子教育</b><span> &nbsp;></span></a></dt>
                                <dd>
                                    <span>|</span><a href="">学生平板</a>
                                    <span>|</span><a href="">点读机/笔</a>
                                    <span>|</span><a href="">早教益智</a>
                                    <span>|</span><a href="">录音笔</a>
                                    <span>|</span><a href="">电纸书</a>
                                    <span>|</span><a href="">电子词典</a>
                                    <span>|</span><a href="">复读机</a>
                                </dd>
                            </dl>
                        </div>
                        <div class="right">
                            <div class="brands">
                                <a href=""><img src="{% static 'images/huawei.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/mi.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/honor.jpg' %}" alt="" width="83"
                                                height="35"/></a>
                                <a href=""><img src="{% static 'images/meizu.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/sony.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/nikon.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/edifier.jpg' %}" alt=""/></a>
                                <a href=""><img src="{% static 'images/monster.jpg' %}" alt=""/></a>
                            </div>
                            <a href=""><img src="{% static 'images/8yi.jpg' %}" alt=""/></a>
                            <a href=""><img src="{% static 'images/half.jpg' %}" alt=""/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <span class="prev"><a href=""><</a></span>
                <div class="banner-imgs">
                    <a href=""><img src="{% static 'images/banner01.jpg' %}" height="454" width="730" alt=""/></a>
                    <a href=""><img src="{% static 'images/banner02.jpg' %}" height="454" width="730" alt=""/></a>
                    <a href=""><img src="{% static 'images/banner03.jpg' %}" height="454" width="730" alt=""/></a>
                    <a href=""><img src="{% static 'images/banner04.jpg' %}" height="454" width="730" alt=""/></a>
                    <a href=""><img src="{% static 'images/banner05.jpg' %}" height="454" width="730" alt=""/></a>
                    <a href=""><img src="{% static 'images/banner06.jpg' %}" height="454" width="730" alt=""/></a>
                </div>
                <span class="next"><a href="">></a></span>
                <ul class="pages">
                    <li class="sel">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ul>
            </div>
            <div class="service"></div>
        </div>
        <div class="bottom"></div>
    </div>
</div>
</body>
</html>